
@{
    ViewBag.Title = "Index";
}

<h2>Commit History</h2>
<div class="row">
    <div class="col-md-8">
        <table class="table table-bordered table-striped">
            <thead>
            <th>Commit Date</th>
            <th>Committer Name</th>
            <th>Committer Email</th>
            <th>Commit Message</th>
            
            </thead>
            <tbody id="tableBody">
            
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <button class="btn btn-primary" id="refresh">View Updated Commit History</button>
    </div>
</div>
@section Scripts{


    <script>
        $(document).ready(function() {
          
            $("#refresh").click(function() {
               
                update();
            });
        });

        function update() {
            $.ajax({
                type: 'GET',
                url: 'https://api.github.com/repos/ctagg21/TakeHomeProjectCG/commits',
                success: function(results) {
                    $('#tableBody').empty();

                    $.each(results,
                        function(index, data) {
                            var html = '<tr><td>' +
                                data.commit.committer.date +
                                '</td>' +
                                '<td>' +
                                data.commit.committer.name +
                                '</td>' +
                                '<td>' +
                                data.commit.committer.email +
                                '</td>' +
                                '<td>' +
                                data.commit.message +
                               
                                '</td></tr>';
                            $('#tableBody').append(html.toString());
                        });
                },
                error: function() {
                    alert('Error performing update, try again later');
                }
            });
        }
    </script>
}